<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
  data-namespace-typo3-fluid="true"
>
  <f:layout name="Default" />

  <f:section name="content">
    <script type="text/javascript">
      var doc = window.top.document;
      var element = doc.getElementsByTagName("div")[0];
      element.classList.remove("scaffold-content-navigation-expanded");
    </script>

    <f:flashMessages />
    <base href="/" />
    <crayon-root></crayon-root>
    <script src="../typo3conf/ext/t3element/Resources/Public/element/runtime.1eca835d720327270d26.js" defer></script>
    <script src="../typo3conf/ext/t3element/Resources/Public/element/polyfills-es5.3fefe7503b1b159b1351.js" nomodule defer></script>
    <script src="../typo3conf/ext/t3element/Resources/Public/element/polyfills.16eb7e517121c019e565.js" defer></script>
    <script src="../typo3conf/ext/t3element/Resources/Public/element/styles.08232b51b3c2039badda.js" defer></script>
    <script src="../typo3conf/ext/t3element/Resources/Public/element/scripts.f04b6c0fe52083593814.js" defer></script>
    <script src="../typo3conf/ext/t3element/Resources/Public/element/main.f4a11d7d2185f41999ec.js" defer></script>
  </f:section>
</html>
